extends layout

block content
    form(action="/auth", method="post")
        label(for='email') E-mail:
        input(type="email", name="email")
        label(for='password') Password:
        input(type="password", name="password")
        button(type="submit") Submit